html {
  font-family: "Bitter";
}
.board {
  height: 100vh;
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 30px;
  text-align: center;
}
.boardTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: green;
  border: 3px solid black;
  border-radius: 60px;
}
h2 {
  margin: 10px auto 0 auto;
  width: 80%;
  font-size: 20px;
  text-align: left;
  color: white;
  border-bottom: 2px solid white;
}

.playerCards,
.dealerCards {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 35%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 15%;
  height: 80%;
  font-size: 22px;
  background-color: white;
  box-shadow: 0.2em 0.2em 0.5em #333;
}
.hearts,
.diamonds {
  color: red;
}
.spades,
.clubs {
  color: black;
}
.pointsContainer {
  margin: 1rem 0 1rem 0;
}
p {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 20px;
}
.points1 {
  border-top: 2px solid black;
}
.points2 {
  border-bottom: 2px solid black;
}
.playerPoints,
.enemyPoints {
  display: block;
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 150px;
  border-radius: 20px;
  padding: 15px 30px;
  color: white;
  background-color: #111;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
